<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="inner">
                <div class="left">
                    <h2 id="label">TODO APP</h2>
                </div>
                <!-- <div class="right">
                    <p>Shubham</p>
                    <div class="profile"></div>
                </div> -->
            </div>
        </div>
        <div class="sub-container">
            <div class="c-left">
                <div class="sub-menu">
                    <select name="" id="showList">
                    </select>
                    <button id="showNewListForm">+</button>
                </div>
                <div class="list-form" id="list-form">
                    <input type="text" id="list_input" placeholder="Enter List name">
                    <button id="addNewList">Add list</button>
                </div>
                <div class="todo-container" id="todo-container">
                </div>
            </div>
            <div class="c-right">
                <div class="todo-form" id="todo-form">
                    <h3>Todo Form</h3>
                    <input type="text" id="todo_input" placeholder="Enter Task....">
                    <input class="imgFile" id="todo_pic" type="file">
                    <button id="addNewTodo">Add Todo</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/home.js"></script>

</html>